/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Pacifico&display=swap');

*{
    margin: 0;
}

:root{
    --color-titre-h1-h2: #E34E67;
    --color-h2-content: #423b73;
    --color-h3-content: #30cd8a;
    --color-elearning: #e34e67;
    --color-background: #1E1D31;
    --color-background-footer: #363450;
    --title1:"pacifico", "sans serif";
    --oswald:"oswald", "sans serif";
}

ul{
    list-style: none;
    padding-left: 0px;
}

a{
    text-decoration: none;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    max-width: 1440px;
}

#menu-burger{
    display: none;
}

header ul{
    padding-left: 0;
    display: flex;
    gap: 40px;
    font-size: 22px;
    font-family: "Open sans" sans-serif;
}

nav ul a:hover i{
    color: var(--color-h3-content);
}

#sub-nav{
    font-size: 16px;
    display: none;
}

header nav ul li:nth-child(2):hover #sub-nav{
    display: grid;
    position: absolute;
    gap: 20px;
    padding: 20px 20px;
    background-color: #fff;
    text-align: center;
}

.acceuil{
    color: var(--color-h3-content);
}

#e-learning{
    color: var(--color-elearning);
}

#nav li:nth-child(2) a:hover,#nav li:nth-child(3) a:hover,#nav li:nth-child(4) a:hover,#nav li:nth-child(5) a:hover{
    color: var(--color-h3-content);
}

/* FOOTER */

footer{
    background-color: var(--color-background-footer);
}

footer section:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: aliceblue;
    margin: 16px 0px;

}

footer section:nth-child(1) a{
    color: #fff;
    font-size: 16px;
    transition: all 0.2s;

}

footer section:nth-child(1) article h4{
    font-size: 20px;
}

footer section article{
    padding: 30px;
}

footer section:nth-child(1) article:nth-child(1) p{
    padding: 15px 0px;
    line-height: 28px;
    color: #fff;
}

footer li{
    padding: 10px 0px;
}

footer section:nth-child(1) a:hover{
    color: var(--color-h3-content);
    transition: all 0.2s;
}

footer section:nth-child(2){
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #fff;
}

#footer-mention:nth-child(2){
    color: var(--color-h2-content);
}

footer section:nth-child(2) a:hover{
    color: var(--color-elearning);
    transition: all 0.2s;
}

/* MAIN */

main section:nth-child(1){
    background-image: url(/img_page2/img\ 1.jpeg);
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    margin: auto;
    color: #fff;
    padding: 30px;
}

main section:nth-child(1) h1{
    font-size: 38px;
    font-family: var(--oswald);
    padding: 10px;
}

main section:nth-child(1) p{
    font-size: 16px;
    font-family: "open sans", "sans serif";
    margin-bottom: 20px;
}

main section:nth-child(1) article{
    margin: 80px 0px 80px 0px;
    text-align: center;
}

/*  BLOC SECTION 2 */

main section:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/img_page2/img\ 2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    width: 100%;
    background-position: left 70%;
    transform: scaleX(-1);
}

main section:nth-child(2) article{
    background-color: var(--color-background);
    transform: scaleX(-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 180px;
}

main section:nth-child(2) h2, section:nth-child(3) h2, section:nth-child(5) h2{
    color: var(--color-h3-content);
    font-size: 38px;
    margin-bottom: 30px;
}

main section:nth-child(2) p, section:nth-child(3) p, section:nth-child(5) p{
    color: #fff;
    margin-bottom: 20px;
    line-height: 25px;
}

main section:nth-child(2) a, section:nth-child(3) a, section:nth-child(5) a{
    color: var(--color-h3-content);
    border: 1px solid;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
}

main section:nth-child(3){
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/img_page2/img\ 3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    width: 100%;
    background-position: right 25%;
}

main section:nth-child(3) article{
    background-color: var(--color-background-footer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 180px;
}

main section:nth-child(4){
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/img_page2/img\ 4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    width: 100%;
    background-position: left 55%;
    transform: scaleX(-1);
}

main section:nth-child(4) article{
    background-color: #fff;
    transform: scaleX(-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 180px;
}

main section:nth-child(4) h2{
    color: var(--color-h2-content);
}

main section:nth-child(4) p{
    color: var(--color-h2-content);
    margin-bottom: 20px;
    line-height: 25px;
}

main section:nth-child(4) a{
    color: #fff;
    border: 1px solid var(--color-h3-content);
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    background-color: var(--color-h3-content);
}

main section:nth-child(5){
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/img_page2/img\ 5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    width: 100%;
    background-position: right 25%;
}

main section:nth-child(5) article{
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 180px;
}

/* SECTION 6 FORM */

#section-6{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1440px;
    margin: 70px auto;
    
}

#section-6 h2{
    color: var(--color-titre-h1-h2);
    font-family: var(--title1);
    font-size: 23px;
}

#section-6 h3{
    color: var(--color-h2-content);
    font-size: 38px;
    font-family: var(--oswald);
    padding-right: 75px;
}

#section-6 article:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section-6 p{
    color: var(--color-h2-content);
    font-family: "open sans", "sans serif";
    font-size: 16px;
    font-weight: 400;
}

#section-6 article:nth-child(2){
    background-color: var(--color-background);
    border-radius: 22px;
    padding: 20px;
}

#section-6 article:nth-child(2) h3{
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 38px;
    font-family: var(--oswald);
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px;
}

form input, textarea, select{
    border: var(--color-h3-content) 2px solid;
    background-color: var(--color-background);
    color: #fff;
    padding: 9px 17px;

}

form input:nth-child(3), input:nth-child(4), input:nth-child(5), select, textarea{
    grid-column: 1/3;
}

#btn-form{
    border: var(--color-h3-content) solid 1px;
    border-radius: 10px;
    background-color: var(--color-h3-content);
    color: #fff;
    padding: 15px 60px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 7;
    transition: all 0.2s;
}

form label{
    color: #fff;
    grid-column: 1/4;
    line-height: 25px;
    font-size: 16px;
    font-family: "open sans", "sans serif";
}

#btn-form:hover{
    background-color: var(--color-elearning);
    color: #fff;
    transition: all 0.2s;
    border: var(--color-elearning) 1px solid;
}